.container-fluid {
    padding-bottom:2em;
    padding-top: 1.5em;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.snapshot {
    max-width: 20em;
    max-height: 20em;
    padding: 1em;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.photo-img {
    max-height: 18em;
    max-width: 20em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.snapshot, .photo-img {
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
}
.caption {
    height: 2em;
    text-align: center;
}
.bikes  {
    width: 85%;
    padding: 1em 0;
}
.my-button:hover {
    color: rgb(255, 255, 255);
}
.add-photo {
    margin-top:2.5em;
}
.nav-pills>li>a {
    background-color: rgb(235, 235, 255);
}
.nav-pills>li.external-link>a {
    background-color: rgb(250, 250, 250);
}
i.icon-share {
    float:right;
}


/* FRACTIONS - relative box sizing as an alternative to bootstrap spans */
[class*="fraction"] {
    margin-right:1%;
    margin-left:0;
    padding:0;
    float:left;
}
[class*="fraction"]:last-child {
        margin-right:0;
}
.fraction-whole {
        width:100%;
}
.fraction-half {
        width:49.5%;
}
.fraction-third {
        width:32.6%;
}
.fraction-fourth {
        width:24.25%;
}
.fraction-three-fourths {
        width:74.75%;
}
.fraction-two-thirds {
        width:66.2%;
}
