#shadow {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.snapshot-detail {
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 10%;
    width: 80%;
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background: rgb(250, 250, 250);
}
.container-fluid {
    padding-bottom:2em;
    padding-top: 1.5em;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.snapshot {
    max-width: 20em;
    max-height: 20em;
    padding: 1em;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.photo-img {
    max-height: 18em;
    max-width: 20em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.snapshot, .photo-img {
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
}
.caption {
    height: 2em;
    text-align: center;
    padding-top: 5px;
}
.bikes  {
    width: 85%;
    padding: 1em 0;
}
.my-button:hover {
    color: rgb(255, 255, 255);
}
form.add-photo {
    margin: 0;
}
.wide {
    width: 90%;
}
.nav-pills>li>a {
    background-color: rgb(235, 235, 255);
}
.nav-pills>li.external-link>a {
    background-color: rgb(250, 250, 250);
}
i.icon-share {
    float:right;
}
.error-msg {
    color: #b94a48;
    font-weight: 800;
}
.my-divider {
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(235, 235, 235);
}
#pmclogo {
    width: 25px;
}
.external-link-header {
    color: rgb(200, 75, 75);
}

/* FRACTIONS - relative box sizing as an alternative to bootstrap spans */
[class*="fraction"] {
    margin-right:1%;
    margin-left:0;
    padding:0;
    float:left;
}
[class*="fraction"]:last-child {
        margin-right:0;
}
.fraction-whole {
        width:100%;
}
.fraction-half {
        width:49.5%;
}
.fraction-third {
        width:32.6%;
}
.fraction-fourth {
        width:24.25%;
}
.fraction-three-fourths {
        width:74.75%;
}
.fraction-two-thirds {
        width:66.2%;
}
